// chi tiết
.student-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .student-detail {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 700px; 
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    .top-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 1rem;
  
    }
    .avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 40px;
      color: black;
      margin-right: 10px
    }
    .avatar {
      width: 140px; 
      height: 140px;
      border-radius: 50%;
      background-color: #3e6b5c; // Placeholder (sẽ thay bằng ảnh)
      font-size: 40px;
      color: white;
    }
    .fullname{
      align-items: flex-axis;
    }
  
    .info {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }
  
  
    .bottom-container {
      padding: 0rem 2rem;
      text-align: flex-start;
    }
    .button-group{
      display: flex;
      flex-direction: wrap;
      justify-content: space-between;
    }
    .edit-button {
      position: absolute;
      bottom: 15px;
      right: 15px;
      background-color: #a83232;
      color: white;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
    .export-button {
      position: absolute;
      background-color: #32a85d;
      color: white;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
    .save-button{
      position: absolute;
      bottom: 15px;
      right: 15px;
      background-color: #a83232;
      color: white;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  .error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  