// color 
$MainScreen_Corlor: white;
$Tabbar_Color: #D3D3D3;

// Size
$MainScreen_Width: 100%;
$MainScreen_Height: 100vh;
$Tabbar_Height: 100vh;
$Tabbar_Width: 20%;


// Text
$Tabbar_Text_Color: white;
$Tabbar_Text_Size: 16px;
$MainScreen_Text: 16px;
$MainScreen_Text_Color: black;

// logo
$Logo_Size: 55%;